*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
}
#wrapper{
    width: 1120px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.col{
    border: 1px solid red;
    /* padding 10/16 = 0.625 rem
     */
    padding: 0.625rem;
    margin: 1em 0;
}
.col-1{
    width: calc((100% / 14) * 1)
}
.col-2{
    width: calc((100% / 14) * 2)
}
.col-3{
    width: calc((100% / 14) * 3)
}
.col-4{
    width: calc((100% / 14) * 4)
}
.col-5{
    width: calc((100% / 14) * 5)
}
.col-6{
    width: calc((100% / 14) * 6)
}
.col-7{
    width: calc((100% / 14) * 7)
}
.col-8{
    width: calc((100% / 14) * 8)
}
/* les marges relatives */
.has-gutter{
    margin-left: calc((10% / 1120) * 100);
    margin-right: calc((10% / 1120) * 100);
}
/* retirer cette marge des largeurs des colonnes */
.col-1{
    width: calc(((100% / 14) * 1) - ((10% / 1120) * 200));
}
.col-2{
    width: calc(((100% / 14) * 2) - ((10% / 1120) * 200));
}
.col-3{
    width: calc(((100% / 14) * 3) - ((10% / 1120) * 200));
}
.col-4{
    width: calc(((100% / 14) * 4) - ((10% / 1120) * 200));
}
.col-5{
    width: calc(((100% / 14) * 5) - ((10% / 1120) * 200));
}
.col-6{
    width: calc(((100% / 14) * 6) - ((10% / 1120) * 200));
}
.col-7{
    width: calc(((100% / 14) * 7) - ((10% / 1120) * 200));
}
.col-8{
    width: calc(((100% / 14) * 8) - ((10% / 1120) * 200));
}
/* @media queries */
body{
    background-color: #ddd;
}
@media screen and (min-width: 255px){
    body{
        background-color: #ff0;
    }
}
@media screen and (min-width: 555px){
    body{
        background-color: blue;
    }
}
@media screen and (min-width: 755px){
    body{
        background-color: yellow;
    }
}
@media screen and (min-width: 955px){
    body{
        background-color:red
;
    }
}
/* @media screen and (max-width: 1005px){
    body{
        background-color: #aaafff;
    }
} */